:root {
    --slight-bright: rgba(255, 255, 255, 0.1);
}

body {
    max-width: 1000px;
}

h1, h2 {
    border-bottom: 1px solid var(--slight-bright);
}

h3 {
    font-size: 1.6em;
}

table {
    table-layout: auto;
}

table tr {
    border-bottom: 1px solid var(--slight-bright);
}

table td:first-child {
    width: 33%;
}

table td {
    vertical-align: middle;
    width: min-content;
}

code.block {
    width: 100%;
    padding: 10px;
    background: var(--background);
    color: var(--text-muted);
    text-rendering: optimizeSpeed;
}

main input {
    width: 100%;
    color: var(--text-muted);
}

#result-structure-parent {
    display: flex;
    flex-direction: column;
}

#highlight-status {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

#highlight-status.visible {
    opacity: 100;
}
